
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1499070010883'); /* IE9*/
  src: url('iconfont.eot?t=1499070010883#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1499070010883') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1499070010883') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1499070010883#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-prag-warnning:before { content: "\e609"; }

.icon-erweima:before { content: "\e673"; }

.icon-lock:before { content: "\e612"; }

.icon-pingmufangda:before { content: "\e674"; }

.icon-left:before { content: "\e613"; }

.icon-right:before { content: "\e615"; }

.icon-ios:before { content: "\e665"; }

.icon-consumption-record:before { content: "\e601"; }

.icon-plus:before { content: "\e6a5"; }

.icon-arrow-circle-left:before { content: "\e664"; }

.icon-release:before { content: "\e676"; }

.icon-copy:before { content: "\e610"; }

.icon-iconfontpingmusuoxiao:before { content: "\e675"; }

.icon-tag:before { content: "\e6f9"; }

.icon-gengduo:before { content: "\e677"; }

.icon-double-right:before { content: "\e614"; }

.icon-hscreen:before { content: "\e678"; }

.icon-vscreen:before { content: "\e679"; }

.icon-check1:before { content: "\e618"; }

.icon-times1:before { content: "\e6b3"; }

.icon-comment:before { content: "\e6e6"; }

.icon-circle-o-big:before { content: "\e719"; }

.icon-socialusdoutline:before { content: "\e8b6"; }

.icon-folderopen:before { content: "\e9f5"; }

.icon-hengzhuanshu:before { content: "\e67f"; }

.icon-shuzhuanheng:before { content: "\e680"; }

.icon-pie:before { content: "\e60f"; }

.icon-release1:before { content: "\e683"; }

.icon-funnel:before { content: "\e66c"; }

.icon-check2:before { content: "\e67d"; }

.icon-required:before { content: "\e670"; }

.icon-fileapk:before { content: "\e77d"; }

.icon-fileipa:before { content: "\e797"; }

.icon-socialusd:before { content: "\e924"; }

.icon-home-ios:before { content: "\e6ed"; }

.icon-add-tag:before { content: "\e682"; }

.icon-view:before { content: "\e611"; }

.icon-play-left:before { content: "\e68e"; }

.icon-jietu:before { content: "\e67a"; }

.icon-disable:before { content: "\e60e"; }

.icon-full-screen:before { content: "\e69a"; }

.icon-comment-b:before { content: "\e6a1"; }

.icon-key:before { content: "\e754"; }

.icon-fold-right:before { content: "\e681"; }

.icon-logout:before { content: "\e72a"; }

.icon-fangda1:before { content: "\e67b"; }

.icon-suoxiao:before { content: "\e67c"; }

.icon-clear:before { content: "\e6ab"; }

.icon-circle:before { content: "\e66b"; }

.icon-unfold-down:before { content: "\e68d"; }

.icon-language:before { content: "\e776"; }

.icon-anzhuo:before { content: "\e697"; }

.icon-globe:before { content: "\e669"; }

.icon-back-up:before { content: "\e668"; }

.icon-circle-o:before { content: "\eb95"; }

.icon-checkboxed:before { content: "\e6bb"; }

.icon-file-code-o:before { content: "\eecc"; }

.icon-terminal:before { content: "\ef2e"; }

.icon-arrow-circle-right:before { content: "\e667"; }

.icon-level_up:before { content: "\e811"; }

.icon-full-rect:before { content: "\e6de"; }

.icon-times:before { content: "\e616"; }

.icon-wancheng1:before { content: "\e74b"; }

.icon-restore:before { content: "\e6ca"; }

.icon-control:before { content: "\e603"; }

.icon-delete:before { content: "\e604"; }

.icon-download:before { content: "\e605"; }

.icon-edit:before { content: "\e606"; }

.icon-edit1:before { content: "\e607"; }

.icon-export-file:before { content: "\e608"; }

.icon-rerun:before { content: "\e60a"; }

.icon-run:before { content: "\e60b"; }

.icon-stop:before { content: "\e60c"; }

.icon-viewreport:before { content: "\e60d"; }

.icon-viewdetail:before { content: "\e619"; }

.icon-install:before { content: "\e61a"; }

.icon-script:before { content: "\e61b"; }

.icon-Play:before { content: "\e61c"; }

.icon-setting:before { content: "\e61d"; }

.icon-List:before { content: "\e61e"; }

.icon-volume-up:before { content: "\e61f"; }

.icon-volume-down:before { content: "\e620"; }

.icon-playpause:before { content: "\e621"; }

.icon-swipe-up:before { content: "\e622"; }

.icon-swipe-down:before { content: "\e623"; }

.icon-swipe-left:before { content: "\e624"; }

.icon-swipe-right:before { content: "\e625"; }

.icon-previous:before { content: "\e626"; }

.icon-next:before { content: "\e627"; }

.icon-reboot:before { content: "\e628"; }

.icon-wifi:before { content: "\e629"; }

.icon-search:before { content: "\e62a"; }

.icon-refresh:before { content: "\e62b"; }

.icon-refresh1:before { content: "\e62c"; }

.icon-hide:before { content: "\e62d"; }

.icon-show:before { content: "\e62e"; }

.icon-close:before { content: "\e62f"; }

.icon-horizontalscreen:before { content: "\e630"; }

.icon-verticalscreen:before { content: "\e631"; }

.icon-menu:before { content: "\e632"; }

.icon-home:before { content: "\e633"; }

.icon-back:before { content: "\e634"; }

.icon-screenshot:before { content: "\e635"; }

.icon-cloud-up:before { content: "\e636"; }

.icon-keyboard:before { content: "\e637"; }

.icon-folder:before { content: "\e638"; }

.icon-info:before { content: "\e639"; }

.icon-logs:before { content: "\e63a"; }

.icon-time:before { content: "\e63b"; }

.icon-disconnect:before { content: "\e63c"; }

.icon-disconnect1:before { content: "\e63d"; }

.icon-complete:before { content: "\e63e"; }

.icon-failure-o:before { content: "\e63f"; }

.icon-complete1:before { content: "\e640"; }

.icon-failure1:before { content: "\e641"; }

.icon-warn:before { content: "\e642"; }

.icon-time1:before { content: "\e643"; }

.icon-yingyong:before { content: "\e644"; }

.icon-book:before { content: "\e645"; }

.icon-brush:before { content: "\e646"; }

.icon-chart:before { content: "\e647"; }

.icon-chart1:before { content: "\e648"; }

.icon-address:before { content: "\e649"; }

.icon-address1:before { content: "\e64a"; }

.icon-email:before { content: "\e64b"; }

.icon-phone:before { content: "\e64c"; }

.icon-disabled:before { content: "\e64d"; }

.icon-admin:before { content: "\e64e"; }

.icon-admin1:before { content: "\e64f"; }

.icon-xitongxingn:before { content: "\e650"; }

.icon-email1:before { content: "\e651"; }

.icon-list-alt:before { content: "\e7fe"; }

.icon-Previous:before { content: "\e652"; }

.icon-pnone:before { content: "\e653"; }

.icon-workspace:before { content: "\e654"; }

.icon-management:before { content: "\e655"; }

.icon-clock:before { content: "\e656"; }

.icon-help:before { content: "\e657"; }

.icon-help-o:before { content: "\e658"; }

.icon-message:before { content: "\e659"; }

.icon-file:before { content: "\e65a"; }

.icon-load:before { content: "\e65b"; }

.icon-load1:before { content: "\e65c"; }

.icon-group:before { content: "\e65d"; }

.icon-group1:before { content: "\e65e"; }

.icon-money:before { content: "\e65f"; }

.icon-company:before { content: "\e660"; }

.icon-team:before { content: "\e661"; }

.icon-user:before { content: "\e662"; }

.icon-me:before { content: "\e663"; }

.icon-operation-record:before { content: "\e66a"; }

.icon-hand-right:before { content: "\e66d"; }

.icon-A:before { content: "\e67e"; }

.icon-checkbox:before { content: "\e602"; }

.icon-ban:before { content: "\e600"; }

.icon-ellipsis-v:before { content: "\e617"; }

.icon-fangda:before { content: "\e666"; }

.icon-recharge:before { content: "\e66e"; }

.icon-withdraw:before { content: "\e66f"; }

.icon-gift:before { content: "\e672"; }

.icon-applogo:before { content: "\e671"; }

.icon-A1:before { content: "\e722"; }

.icon-Text:before { content: "\e689"; }

.icon-Playback:before { content: "\e68a"; }

.icon-Exit:before { content: "\e690"; }

.icon-Waiting:before { content: "\e691"; }

.icon-Edit:before { content: "\e692"; }

.icon-Copy:before { content: "\e695"; }

.icon-ScriptRecording:before { content: "\e698"; }

.icon-Simmobile1:before { content: "\e69c"; }

.icon-Simtelecom1:before { content: "\e69d"; }

.icon-Simunicom1:before { content: "\e69e"; }

.icon-Lineplay:before { content: "\e68b"; }

.icon-verify:before { content: "\e699"; }

.icon-Revoked:before { content: "\e7a0"; }

.icon-Restore:before { content: "\e808"; }

.icon-AppiumPython:before { content: "\e6a9"; }

.icon-Compatibility:before { content: "\e6ae"; }

.icon-Lettuce:before { content: "\e6af"; }

.icon-UIAutomator:before { content: "\e6b0"; }

.icon-Calabash1:before { content: "\e6b1"; }

.icon-Fold:before { content: "\e6c8"; }

.icon-Unfolded:before { content: "\e6cb"; }

.icon-RestoreName1:before { content: "\e6cf"; }

.icon-AddStepGroup:before { content: "\e6d4"; }

.icon-Click:before { content: "\e6d5"; }

.icon-Gesture:before { content: "\e6d8"; }

.icon-Location:before { content: "\e6d9"; }

.icon-PreviewPython:before { content: "\e6e0"; }

.icon-Save:before { content: "\e6e1"; }

.icon-StepGroup:before { content: "\e6e7"; }

.icon-SwipeDown:before { content: "\e6e8"; }

.icon-SwipeLeft:before { content: "\e6e9"; }

.icon-SwipeRight:before { content: "\e6ea"; }

.icon-LongTap:before { content: "\e6ec"; }

.icon-MoveDown:before { content: "\e6ee"; }

.icon-MoveUp:before { content: "\e6ef"; }

.icon-SwipeUp:before { content: "\e6f0"; }

.icon-Screenshot:before { content: "\e6f1"; }

.icon-AddStep:before { content: "\e6f3"; }

.icon-ScriptStart:before { content: "\e6f8"; }

.icon-ScriptPause:before { content: "\e6fa"; }

.icon-WaitingForTimeAfter:before { content: "\e6fb"; }

.icon-WaitingForTimeBefore:before { content: "\e6fc"; }

.icon-CMCC:before { content: "\e6fe"; }

.icon-CTCC:before { content: "\e6ff"; }

.icon-CUCC:before { content: "\e700"; }

.icon-Premium:before { content: "\e708"; }

.icon-Medium:before { content: "\e709"; }

.icon-SIM:before { content: "\e70a"; }

.icon-Common:before { content: "\e70b"; }

.icon-TreeStructure:before { content: "\e70c"; }

.icon-Tile:before { content: "\e70d"; }

.icon-Abnormal:before { content: "\e70e"; }

.icon-Common1:before { content: "\e70f"; }

.icon-Hot:before { content: "\e710"; }

.icon-Medium1:before { content: "\e711"; }

.icon-Premium1:before { content: "\e712"; }

.icon-SIM1:before { content: "\e713"; }

.icon-Rate1:before { content: "\e715"; }

.icon-Drag:before { content: "\e718"; }

.icon-Close01:before { content: "\e71a"; }

.icon-Stop01:before { content: "\e71b"; }

.icon-Consumption:before { content: "\e71c"; }

.icon-Upgrade:before { content: "\e71d"; }

.icon-Copy1:before { content: "\e724"; }

.icon-Enter:before { content: "\e725"; }

.icon-Find:before { content: "\e726"; }

.icon-folding:before { content: "\e727"; }

.icon-FullScreen:before { content: "\e728"; }

.icon-Newline:before { content: "\e729"; }

.icon-Node:before { content: "\e72b"; }

.icon-Paste:before { content: "\e72c"; }

.icon-Replace:before { content: "\e72d"; }

.icon-Shear:before { content: "\e72e"; }

.icon-Narrow:before { content: "\e72f"; }

.icon-Amplification1:before { content: "\e730"; }

.icon-Reduction:before { content: "\e733"; }

.icon-Values:before { content: "\e734"; }

.icon-Pause:before { content: "\e735"; }

